body {
text-align: left;
margin-top: 0px;
margin-left: 0px;
margin-bottom: 0px;
margin-right: 0px;
background-color:#fff;

}


img{
outline:none;
border:none;


}


#global {
font-weight

margin:0 auto;
text-align:left;
width:834px;
}




.style_holder {
	font-weight: bold;
	font: 12px Arial, sans-serif;
	color: #cccccc;
	line-height: 16px;
}

#holder img{
	outline:none;
	border:none;
}
/* ====================================  */

a:link{
color:#ff0000;
text-decoration:none;

}

a:active {
color:#ff0000;

text-decoration:none;
}
a:visited {
color:#ff0000;

text-decoration:none;
}

a:hover {
color:#999999;
text-decoration:none;
}




